
<!-- <ol class="breadcrumb pull-right">
  <li><a href="javascript:;">Home</a></li>
  <li><a href="javascript:;">Dashboard</a></li>
  <li class="active">Dashboard v2</li>
</ol> -->

<!-- begin page-header -->
<h1 class="page-header">Dashboard v2 <small>For Last Month</small></h1>
<!-- end page-header -->
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="widget widget-stats bg-green">
      <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
      <div class="stats-title">ESTIMATED PRODUCTION</div>
      <div class="stats-number">$34,105.26</div>
      <div class="stats-progress progress">
        <div class="progress-bar" style="width: 20.3%;"></div>
      </div>
      <div class="stats-desc">Worse than previous month (-$3,313.76)</div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="widget widget-stats bg-blue">
      <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
      <div class="stats-title">AVG PRODUCTION PER DAY</div>
      <div class="stats-number">180,200</div>
      <div class="stats-progress progress">
        <div class="progress-bar" style="width: 40.5%;"></div>
      </div>
      <div class="stats-desc">Better than last week (40.5%)</div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="widget widget-stats bg-purple">
      <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
      <div class="stats-title">NEW ORDERS</div>
      <div class="stats-number">38,900</div>
      <div class="stats-progress progress">
        <div class="progress-bar" style="width: 76.3%;"></div>
      </div>
      <div class="stats-desc">Better than last week (76.3%)</div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="widget widget-stats bg-black">
      <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
      <div class="stats-title">NEW COMMENTS</div>
      <div class="stats-number">3,988</div>
      <div class="stats-progress progress">
        <div class="progress-bar" style="width: 54.9%;"></div>
      </div>
      <div class="stats-desc">Better than last week (54.9%)</div>
    </div>
  </div>
</div>

<h1 class="page-header">Daily Status</h1>
<div class="row recommendations-day-selector">
  <% 6.times do |i| %>
  <div class="col-md-2 col-sm-4">
    <div class="widget widget-stats bg-black recommendations-day" day="<%= i %>">
      <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
      <div class="stats-title"><%= (Time.now + i.days).strftime("%B %e") %></div>
      <% if i == 0 %>
      <div class="stats-number">TODAY</div>
      <% else %>
      <div class="stats-number"><%= (Time.now + i.days).strftime("%A") %></div>
      <% end %>
    </div>

    <% if i == 0 %>
    <div style="position:relative"><div style="display:block" class="arrow-down"></div></div>
    <% else %>
    <div style="position:relative"><div class="arrow-down"></div></div>
    <% end %>
  </div>
  <% end %>
</div>

<% 6.times do |i| %>
  <% if i == 0 %>
  <div class="row rec-panel rec-<%= i %>">
  <% else %>
  <div class="row rec-panel rec-<%= i %>" style="display:none">
  <% end %>

    <div class="col-md-12 col-sm-12">
      <div class="widget-chart with-sidebar bg-black">
        <div class="widget-chart-content recs">
          <h3>Snapshot</h3>
          <div class="metric">
            <div class="metric-label">Appointments</div>
            <div class="metric-value">
              <%= @appointments[i].count %>
            </div>
          </div>
          <div class="metric">
            <div class="metric-label">Active Doctors</div>
            <div class="metric-value">
              <%= @dentists[i].count%>
            </div>
            <ul>
              <% @dentists[i].each do |d| %>
              <% dent = Dentist.find(d); %>
              <li>Dr. <%= dent.first_name %> <%= dent.last_name %></li>
              <% end %>
            </ul>
          </div>
          <div class="metric pos-dollar">
            <div class="metric-label">Projected Production</div>
            <div class="metric-value">
              <%= @production[i] %>
            </div>
          </div>
        </div>

        <div class="widget-chart-sidebar bg-black-darker recs rec-actions">
          <h3>Recommended Actions</h3>
          <!-- <small>Based on existing appointments and staff</small> -->
          <fieldset>
            <div class="recommendation">
              <input type="checkbox" name="option1" value="40" checked>
              <span>Move 1:00pm appointment to 2:00pm</span>
              <div class="recommendation-impact">Impact: Schedule 1 less dental assistant</div>
            </div>
            <div class="recommendation">
              <input type="checkbox" name="option3" value="600" checked>
              <span>Close office at 4:00pm</span>
            </div>

            <div class="metric pos-dollar">
              <div class="metric-label">Revenue Improvement</div>
              <div class="metric-value">
                $<span class="improvement-amount">640.00</span>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h1 class="page-header">Historical Analysis &amp; Projections</h1>

<div class="row charts-container">
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Revenue (last 2 weeks)</h4>
      </div>
      <div class="panel-body">
        <h4 class="text-center">Revenue Breakdown By Time</h4>
        <div id="morris-area-chart" class="height-sm"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-inverse" data-sortable-id="morris-chart-3">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Production</h4>
      </div>
      <div class="panel-body">
        <h4 class="text-center">Production By Time</h4>
        <div id="morris-line-chart" class="height-sm"></div>
      </div>
    </div>
  </div>
</div>

<!--div class="row">
  <div class="col-md-4">
    <div class="panel panel-inverse" data-sortable-id="index-3">
      <div class="panel-heading">
        <h4 class="panel-title">Today's Schedule</h4>
      </div>
      <div id="schedule-calendar" class="bootstrap-calendar"></div>
      <div class="list-group">
        <a href="#" class="list-group-item text-ellipsis">
          <span class="badge badge-success">9:00 am</span> Sales Reporting
        </a> 
        <a href="#" class="list-group-item text-ellipsis">
          <span class="badge badge-primary">2:45 pm</span> Have a meeting with sales team
        </a>
      </div>
    </div>
  </div>
</div-->
