
<!-- <ol class="breadcrumb pull-right">
  <li><a href="javascript:;">Home</a></li>
  <li><a href="javascript:;">Dashboard</a></li>
  <li class="active">Dashboard v2</li>
</ol> -->

<ol class="breadcrumb pull-right">
  <% [:last_month, :last_week, :this_week, :this_month].each do |r| %>
    <% if @range[:type] == r %>
      <li class="active"><%= r.to_s.titleize %></li>
    <% else %>
      <li>
        <a href="<%= request.path %>?range=<%= r.to_s %>"><%= r.to_s.titleize %></a>
      </li>
    <% end %>
  <% end %>
</ol>

<!-- begin page-header -->
<h1 class="page-header">The Dentists At Creekside - Dashboard 
  <small>
    <%= "#{@range[:type].to_s.titleize} (#{@range[:to_s]})" %>
  </small>
</h1>
<!-- end page-header -->
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="widget widget-stats bg-blue">
      <div class="stats-icon stats-icon-lg"><i class="fa fa-book fa-fw"></i></div>
      <div class="stats-title">ESTIMATED PRODUCTION</div>
      <div class="stats-number"><%= number_to_currency(@est_prod_this_mo) %></div>
      <div class="stats-progress progress">
        <div class="progress-bar" style="width: 100%;"></div>
      </div>
      <div class="stats-desc">Worse than previous month</div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="widget widget-stats bg-green">
      <div class="stats-icon stats-icon-lg"><i class="fa fa-money fa-fw"></i></div>
      <div class="stats-title">AVG REVENUE PER DAY</div>
      <div class="stats-number"><%= number_to_currency(@avg_rev_this_mo) %></div>
      <div class="stats-progress progress">
        <div class="progress-bar" style="width: 100%;"></div>
      </div>
      <div class="stats-desc">Better than last month</div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="widget widget-stats bg-purple">
      <div class="stats-icon stats-icon-lg"><i class="fa fa-briefcase fa-fw"></i></div>
      <div class="stats-title">INSURANCE COLLECTION RATIO</div>
      <div class="stats-number"><%= float_to_percent(@avg_ins_ratio_this_mo) %></div>
      <div class="stats-progress progress">
        <div class="progress-bar" style="width: 100%;"></div>
      </div>
      <div class="stats-desc">Worse than last month</div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="widget widget-stats bg-aqua">
      <div class="stats-icon stats-icon-lg"><i class="fa fa-plus-square fa-fw"></i></div>
      <div class="stats-title">NEW PATIENTS</div>
      <div class="stats-number"><%= @new_patients_this_mo %></div>
      <div class="stats-progress progress">
        <div class="progress-bar" style="width: 100%;"></div>
      </div>
      <div class="stats-desc">Better than last month</div>
    </div>
  </div>
</div>

<h1 class="page-header">Historical Analysis &amp; Projections</h1>

<div class="row charts-container">
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Revenue (past 10 weeks)</h4>
      </div>
      <div class="panel-body">
        <h4 class="text-center">Revenue Breakdown Over Time ($/week)</h4>
        <div id="revenue-area-chart" class="height-sm"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Production (past &amp; current month)</h4>
      </div>
      <div class="panel-body">
        <h4 class="text-center">Production Over Time ($/week)</h4>
        <div id="production-line-chart" class="height-sm"></div>
      </div>
    </div>
  </div>
</div>

<h1 class="page-header">Daily Status</h1>

<div class="row recommendations-day-selector">
  <% @day_to_day.each_with_index do |day, i| %>
    <div class="col-md-2 col-sm-4">
      <div class="widget widget-stats bg-black recommendations-day" day="<%= i %>">
        <div class="stats-icon stats-icon-lg"><i class="fa fa-calendar fa-fw"></i></div>
        <div class="stats-title"><%= day[:date].strftime("%^b %d") %></div>
        <div class="stats-number">
          <%= day[:date] == Date.today ? "TODAY" : day[:date].strftime("%^a") %>
        </div>
      </div>

      <% if day[:date] == Date.today %>
        <div style="position:relative">
          <div class="arrow-down" style="display:block"></div>
        </div>
      <% else %>
        <div style="position:relative">
          <div class="arrow-down"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% @day_to_day.each_with_index do |day, i| %>
  <% if day[:date] == Date.today %>
    <div class="row rec-panel rec-<%= i %>">
  <% else %>
    <div class="row rec-panel rec-<%= i %>" style="display:none">
  <% end %>

  <div class="col-md-12 col-sm-12">
    <div class="widget-chart with-sidebar bg-black">
      <div class="widget-chart-content recs">
        <h3>Snapshot</h3>
        <div class="metric">
          <div class="metric-label">Procedures</div>
          <div class="metric-value">
            <%= day[:procs].count %>
          </div>
        </div>
        <div class="metric">
          <div class="metric-label">Active Doctors</div>
          <div class="metric-value">
            <%= day[:dentists].count%>
          </div>
          <ul>
            <% day[:dentists].each do |dentist| %>
              <li>Dr. <%= dentist.first_name %> <%= dentist.last_name %></li>
            <% end %>
          </ul>
        </div>
        <div class="metric pos-dollar">
          <div class="metric-label">Projected Production</div>
          <div class="metric-value">
            <%= number_to_currency(day[:procs].to_a.sum(&:price)) %>
          </div>
        </div>
      </div>

      <div class="widget-chart-sidebar bg-black-darker recs rec-actions">
        <h3>Recommended Actions</h3>
        <!-- <small>Based on existing appointments and staff</small> -->
        <fieldset>
          <div class="recommendation">
            <input type="checkbox" name="option1" value="40" checked>
            <span>Move 1:00pm appointment to 2:00pm</span>
            <div class="recommendation-impact">Impact: Schedule 1 less dental assistant</div>
          </div>
          <div class="recommendation">
            <input type="checkbox" name="option3" value="600" checked>
            <span>Close office at 4:00pm</span>
          </div>

          <div class="metric pos-dollar">
            <div class="metric-label">Revenue Improvement</div>
            <div class="metric-value">
              $<span class="improvement-amount">640.00</span>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    </div>
  </div>
<% end %>


<!--div class="row">
  <div class="col-md-4">
    <div class="panel panel-inverse" data-sortable-id="index-3">
      <div class="panel-heading">
        <h4 class="panel-title">Today's Schedule</h4>
      </div>
      <div id="schedule-calendar" class="bootstrap-calendar"></div>
      <div class="list-group">
        <a href="#" class="list-group-item text-ellipsis">
          <span class="badge badge-success">9:00 am</span> Sales Reporting
        </a> 
        <a href="#" class="list-group-item text-ellipsis">
          <span class="badge badge-primary">2:45 pm</span> Have a meeting with sales team
        </a>
      </div>
    </div>
  </div>
</div-->
